@media screen and (max-width: 600px) {
    .column {
    width: 100%;
    }
}

:root {
    --font-color: #18191a;
    --background-color:#bfbfbf;
    --off-white: rgb (255,255,242);
}

* {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: var(--background-color);
    padding: 10px 10px 20px 0px;
}

.header-text {
    display: inline-block;
    font-size: 20px;
    color: var(--font-color);
    padding-left: 5px;
}

.nav-links {
    display:flex;
    gap: 2rem;
    font-size: 18px;
    color: var(--font-color);
    padding: 15px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}

.nav-links li {
    padding-right: 10px;
    list-style-type: none; 
}

a {
    color: var(--font-color);
}

a:hover {
    text-decoration:none; 
    cursor:pointer;  
    font-size: 22px;
}

section {
    display: block;
}

.hero-banner {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 200px; 
}

.hero-banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    background-color: rgba(0,0,0,0.7);
    font-size: 20px;
    color: var(--background-color);
    padding: 5px;
}

.hero-banner h2 {
    justify-content: flex-end;
    align-items: flex-end;
}

.page-wrapper {
    background-color: var(--background-color);
}

.page-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    /* border-top: 20px solid var(--background-color); */
    /* border-bottom: 20px solid var(--background-color); */
    height: auto;
}

.section-heading {
    flex: 1;
    text-align: center;
    color: var(--font-color);
}

.section-body {
    flex: 3;
    verticle-align: middle;
    border-left: 3px solid var(--font-color);
    color: var(--font-color);
    padding-left: 10px;
    padding-right: 5px;
    border-left: 10px solid var(--font-color);
}

.profile-photo {
    padding: 3px;
}

#work-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 120px 120px 120px;
    grid-template-areas: 
    "horiseon horiseon"
    "horiseon horiseon"
    "placeholder placeholder3"
    "placeholder2 placeholder3";
}

#horiseon {
    grid-area: horiseon;
    background-image: url(./images/Screenshot\ 2023-11-20\ at\ 21.08.48\ copy.png);
}

#placeholder {
    grid-area: placeholder;
    background-image: url(./images/IMG_4028.JPG);
}

#placeholder2 {
    grid-area: placeholder2;
    background-image: url(./images/IMG_8394.jpg);
}

#placeholder3 {
    grid-area: placeholder3;
    background-image: url(./images/IMG_8532.jpg);
}

.work-grid-area {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
}


.heading {
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    height: 25px;
    color: var(--off-white);
    font-size: 18px;
    align-content: center;
    border-bottom: 5px solid var(--font-color);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    height: 100px;
    border-top: 5px solid var(--font-color);
}

.footer a {
    padding: 20px 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


