
/* Variables for text and colours */
:root {
    --font-color: #18191a;
    --background-color:#bfbfbf;
    --off-white: white;
}
/* CSS for whole page */
* {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* margin and styling for the body section */
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
/* flex properties and styling for header */
.header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: var(--background-color);
    padding: 10px 10px 10px 0px;
    border-bottom: green solid 3px;
}
/* CSS for header text class */
.header-text {
    display: inline-block;
    font-size: 24px;
    color: var(--font-color);
    padding-left: 5px;
}


/* styling for nav */
.nav-links {
    display:flex;
    gap: 2rem;
    font-size: 22px;
    color: var(--font-color);
    padding: 15px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}
/* CSS for list within nav-links class */
.nav-links li {
    padding-right: 10px;
    list-style-type: none; 
}
/* color for anchor tag */
.nav-links a {
    color: var(--font-color);
    transition: transform 0.3s ease;
}
/* styling for when hovering over anchor tag */
a:hover {
    text-decoration:none; 
    cursor:pointer;  
    font-size: 23px;
    transform: scale(1.1);
}
/* hero banner css */
.hero-banner {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 200px; 
}
/* styling for img within hero banner */
.hero-banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* border-top: 20px solid var(--background-color); */
}
/* styling for html within hero-text class */
.hero-text {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    background-color: rgba(0,0,0,0.7);
    font-size: 22px;
    color: var(--background-color);
    padding: 5px;
}
/* CSS for h2 element within hero-banner class */
.hero-banner h2 {
    justify-content: flex-end;
    align-items: flex-end;
}
/* futher styling affecting class mentioned */
.page-wrapper {
    background-color: var(--background-color);
    border-top: green solid 4px;
}

/* padding for all sections within main area of page */
#work, #about, #contact{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* css for section area */
section {
    display: block;
}

/* futher styling affecting class mentioned */
.page-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    height: auto;
}

/* futher styling affecting class mentioned */
.section-heading {
    flex: 1;
    font-size: 22;
    text-align: center;
    color: var(--font-color);
    text-size-adjust: auto;
}

/* styling for photo */
.profile-photo {
    padding: 3px;
}

/* futher styling affecting class mentioned */
.section-body {
    display: flex;
    flex: 3;
    align-items: center;
    font-size: 15px;
    color: var(--font-color);
    padding-left: 10px;
    padding-right: 5px;
    border-left: 5px solid var(--font-color);
}

/* futher styling affecting class mentioned */
.about-section {
    height: 230px;
}


/* work area grid section CSS */
#work-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 150px 150px 150px;
    grid-template-areas: 
    "horiseon horiseon"
    "horiseon horiseon"
    "placeholder placeholder3"
    "placeholder2 placeholder3";
    grid-column-gap: 15px; 
    grid-row-gap: 15px;
}
/* CSS for horiseon id */
#horiseon {
    grid-area: horiseon;
}
/* css for div within id of horiseon */
#horiseon div {
    background-image: url(./images/Screenshot\ 2023-11-20\ at\ 21.08.48\ copy.png);
    height: 350px;
}
/* CSS for placeholder id */
#placeholder {
    grid-area: placeholder;
}
/* css for div within id placeholder */
#placeholder div {
    background-image: url(./images/pexels-david-selbert-6468065.jpg);
    height: 150px;
}

#placeholder2 {
    grid-area: placeholder2;
}

#placeholder2 div {
    background-image: url(./images/pexels-nothing-ahead-6051044.jpg);
    height: 150px;
}

#placeholder3 {
    grid-area: placeholder3;
}

#placeholder3 div {
    background-image: url(./images/pexels-dids-4091235.jpg);
    height: 315px;
}
/* css for each specific grid area */
.work-grid-area {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
}

/* css for h2 element within heading class */
.heading h3 {
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    height: 25px;
    color: var(--off-white);
    font-size: 20px;
    align-content: center;
    border-bottom: 5px solid var(--font-color);
}
/* css for grid link and to enlarge text when mouse hovers over link */
.grid-link {
    transition: transform 0.3s ease;
}

.grid-link:hover {
    transform: scale(1.05); 
}
/* grid holding contact information css, along bottom of page */
#contact-grid {
    display: grid;
    width: 100%;
    height: 100%;
    margin: 5px;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 40px;
    grid-template-areas: 
    "github linkedin email";
    grid-column-gap: 15px; 
    grid-row-gap: 15px;
}
/* css to align all items within contact section */
.github-link .grid-content,
.linkedin-link .grid-content, 
#email {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}
/* css to show what area of html is supposed to be within grid */
#github {
    grid-area: github;
}
/* height and width css for images */
#github div img, #linkedin div img  {
    height: 60px;
    width: 60px;
}

#linkedin {
    grid-area: linkedin;
}

#email {
    grid-area: email;
}

/* font size for h2 element within class contact-grid-area */
.contact-grid-area h3,
.contact-grid-area a {
    font-size: 22px;
}
/* css for footer containing text and link to github */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    height: 100px;
    border-top: 4px solid green;
}

a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
}

.footer h4 {
    font-size: 18px;
}


@media screen and (max-width: 600px) {
    .column {
    width: 100%;
    }
    .header-text {
        font-size: 16px;
    }
}


